sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t schroederhub/docker-react -f Dockerfile.dev . 

script:
  - docker run schroederhub/docker-react npm run test -- --coverage
